.header {
  border-bottom: 1px solid var(--primary-border-line-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-list {
  display: flex;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-list__link.current::after {
  content: ' ';
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -2px;
  display: block;
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__mail-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
  width: 16px;
  height: 12px;
}

.contact-list__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__tel-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
  width: 10px;
  height: 16px;
}

.contact-list__mail:hover,
.contact-list__mail:focus,
.contact-list__tel:hover,
.contact-list__tel:focus {
  color: var(--accent-color);
}
