.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__header {
  margin-right: 93px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__header-dark {
  color: var(--first-color);
  display: inline-block;
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.logo__footer-light {
  color: var(--third-color);
  display: inline-block;
}
