.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 12px;
}

.modal__form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.modal__form-icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  color: var(--first-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  color: var(--first-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  color: var(--first-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 1px solid var(--accent-color);
  }
}

.modal__form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.modal__form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--first-color);
  cursor: pointer;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-checkbox:checked + .modal__form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal__form-checkbox:focus + .modal__form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.modal__policy-text {
  color: var(--accent-color);

  &:focus {
    outline: 1px solid var(--accent-color);
  }
}
