.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-btn__close-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}
